.cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.cards > .card {
    border: 2px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    transform: rotate(5deg) scale(1.05);
}

@keyframes rotateCard {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
}
  
.card {
    transition: transform 0.5s ease-in-out;
}
  
.card.rotate {
    animation: rotateCard 1s linear forwards;
}

.game-msg, .highest {
    text-align: center;
    margin-top: 1rem;
}

.game-msg {
    font-weight: bold;
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
      gap: .5rem;
      justify-items: center;
    }
  
    .cards > .card {
      /* Adjust the card styles for the grid layout */
      width: calc(50% - 0.5rem); /* Adjust the width to fit 2 cards in a row */
      margin: 0;
    }
}
